/* Variable CSS */
:root {

    /* Colors */
  
    /* HSL Color Mode */
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);

    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
  
    /* Font and Typography */
    --body-font:  'Poppins', sans-serif;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
}

body {
    background-color: var(--off-white);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 1rem 1rem 6rem;
}

.form-inputs {
    display: grid;
    grid-area: inputs;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    padding: 1rem;
}

input {
    max-width: 5rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem 0.25rem 0.75rem;
    border: 1px solid var(--light-grey);
    font-size: 1.75rem;
}

input:active, input:focus {
    border: 1.5px solid var(--purple);
    outline: var(--purple);
    cursor: pointer;
}

input[placeholder="*"] {
    color: var(--light-grey);
}

label[class~="error"], div[class~="error"] {
    color: var(--light-red);
    font-size: 0.65rem;
    margin-top: 0.5rem;
}

input[class~="error"] {
    border-color: var(--light-red);
    outline: none;
}

.input-col {
    display: grid;
    height: max-content;
    align-items: center;
}

label {
    margin-bottom: 0.5rem;
    letter-spacing: 1.75px;
    color: var(--smokey-grey);
    font-size: 0.75rem;
}

/* Hide Arrow Marks in inout element */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.arrow-section {
    background: #FFF;
    display: flex;
    justify-content: center;
}

.result-button {
    display: flex;
    justify-content: center;
    z-index: 2000;
    padding: 1.5rem;
    background: hsl(259, 100%, 65%);
    background-image: url(./assets/images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem;
    width: 0.75rem;
    border: 0;
    border-radius: 50%;
}

.result-button:hover {
    color: var(--off-white);
    background-color: var(--off-black);
}

.arrow-section::after {
    content: '';
    display: block;
    position: absolute;
    height: 1.5px;
    width: 90%;
    background: var(--light-grey);
    order: 1;
    align-self: center;
}


/* Result Section */

.age-result {
    margin-left: 1rem;
}

.age-result span {
    color: var(--purple);
}



@media (min-width: 720px) {

    .container {       
        padding: 1rem;
        border-radius: 1.5rem 1.5rem 10rem;
    }

    .form-inputs {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 2rem;
    }

    .arrow-section {
        justify-self: end;
    }

    .result-button {
        margin-right: 3rem;
        padding: 2rem;
        background-size: auto;
        width: 1rem;
        cursor: pointer;
    }

    .arrow-section::after {
        left: 3rem;
        width: 80%;
    }

    label {
        letter-spacing: 2.5px;
    }

    input {
        padding: auto;
        font-size: 1.5rem;
        max-width: 8rem;
        height: 3rem;
    }

    .poppins-extrabold-italic {
        font-size: 3.75rem;
    }

    .age-result {
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
}
    